<!-- by: github.com/elvisoliveira -->
doctype strict
html(xmlns='http://www.w3.org/1999/xhtml' xml:lang='pt-br' dir='ltr' lang='pt-br')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='description' content='#{ description }')
    meta(name='robots' content='index,follow')
    meta(http-equiv='content-type' content='text/html; charset=utf-8')

    script(type='text/javascript' src='#{ cdn }/jquery/3.6.0/jquery.min.js')
    script(type='text/javascript' src='#{ cdn }/fancybox/3.5.7/jquery.fancybox.min.js')

    link(rel='stylesheet' type='text/css' href='master.css')
    link(rel='stylesheet' type='text/css' href='#{ cdn }/fancybox/3.5.7/jquery.fancybox.min.css')

    title #{ title }

    link(rel='apple-touch-icon' sizes='180x180' href='assets/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='assets/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='assets/favicon-16x16.png')
    link(rel='manifest' href='assets/site.webmanifest')

    script(async='' src='https://www.googletagmanager.com/gtag/js?id=#{ keys.google_analytics }')
    script.
        window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', '#{ keys.google_analytics }');
  body
    #section-header
      #header
        .logo
          a(href='/')
            img(src='assets/img/logo.png' alt='#{ title }')
        .menu
          ul
            each menu, key in { 'services': 'Serviços', 'contact': 'Contato', 'faq': 'FAQ' }
              li
                a(href='#section-' + key) #{ menu }
    #section-banner
      #banner
        dl
          dt Limpeza de estofados em Belo Horizonte e região
          dd
            p
              | #{ description } #[br]
            a(href='#section-contact') Solicite um orçamento
    #section-social
      #social
        dl
          dt WhatsApp e Instagram
          dd
            | #{ support }
        a.instagram(href='#{ social.instagram }' target='_blank') Instagram
        a.whatsapp(href='https://web.whatsapp.com/send?phone=#{ contact.phone }' target='_blank') Whatsapp
    #section-portifolio
      #portifolio
        dl
          dt Trabalhos realizados...
          dd Confira nossos ultimos trabalhos!
      #portifolio-gallery
        ul
          each _, i in Array(28)
            li
              a(href='#')
                img(src=(`pictures/${i}.jpg`))
    #section-services
      #services
        for post, id in public.services._data
          dl(data-fancybox data-src=`#${id}` data-width=700 data-height=500)
            dt !{ post.title }
            dd(id=id)
              for paragraph in post.description
                p #{ paragraph }
    #section-contact
      #contact
        dl.form
          dt Contato por email
          dd
            form(action='https://formspree.io/f/#{ keys.formspree }' method='POST')
              fieldset
                each label, key in { 'name': 'Nome', 'phone': 'Telefone', 'mail': 'Email', 'message': 'Mensagem' }
                  dl
                    dt
                      label(for=key) label
                    dd
                      - if (key == 'message') {
                      textarea(name=key placeholder=label)
                      - } else {
                      input(type='text' name=key placeholder=label)
                      - }
        dl.head
          dt Entre em contato
          dd
            | #{ support }
        dl.info
          dt Informações de contato
          dd
            each value, label in contact
              dl(class=label)
                - label = label.charAt(0).toUpperCase() + label.slice(1);
                dt #{ label }
                dd #{ value }
        dl.address
          dt Endereço
          dd
            address #{ address }
    #section-map
      iframe(src='https://maps.google.com/maps?q=#{ address }&output=embed&key=#{ keys.google_maps }' scrolling='no' marginheight='0' marginwidth='0' frameborder='0')
    #section-footer
      #footer
        .copyright
          p © 2023 Luxorclean, todos os direitos reservados.
        .social-networks
          ul
            each link, name in social
              li
                a(class=name href=link) #{ name }
    script(type='text/javascript' src='gallery.js')
