<!-- by: #{ author } -->
doctype strict
html(xmlns='http://www.w3.org/1999/xhtml' xml:lang='pt-br' dir='ltr' lang='pt-br')
  head
    meta(charset='utf-8')

    link(rel='canonical', href='#{ url }')

    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=2.0')
    meta(name='description' content='#{ description }')
    meta(name='author', content='#{ author }')
    meta(name='robots' content='index,follow')
    meta(name='theme-color' content='#303659')
    meta(http-equiv='content-type' content='text/html; charset=utf-8')

    meta(property='og:locale' content='pt_BR')
    meta(property='og:type' content='website')
    meta(property='og:title' content='#{ title }')
    meta(property='og:description' content='#{ description }')
    meta(property='og:url' content='#{ url }')
    meta(property='og:site_name' content='#{ title }')
    meta(property='og:image' content='#{ url }assets/cover.jpg')
    meta(property='og:image:width' content='730')
    meta(property='og:image:height' content='730')
    meta(property='og:image:alt' content='#{ title }')
    meta(property='og:image:type' content='image/jpeg')
    - date = (new Date()).toISOString()
    meta(property='og:updated_time' content='#{ date }')

    meta(property='twitter:title' content='#{ title }')
    meta(property='twitter:description' content='#{ description }')
    meta(property='twitter:image' content='#{ url }assets/cover.jpg')
    meta(property='twitter:image:width' content='730')
    meta(property='twitter:image:height' content='730')
    meta(property='twitter:card' content='summary_large_image')
    meta(property='twitter:creator' content='@elvisoliveira')

    meta(name='msvalidate.01' content='#{ keys.bing }')

    != partial("linkeddata")

    script(type='application/ld+json').
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "url": "#{ url }",
            "logo": "#{ url }assets/cover.jpg"
        }

    script(type='application/ld+json').
        {
            "@context": "https://schema.org",
            "@type": "DryCleaningOrLaundry",
            "name": "#{ title }",
            "url": "#{ url }",
            "email": "#{ contact.email }",
            "telephone": "+5531971486999",
            "openingHoursSpecification": [{
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
                "opens": "08:00",
                "closes": "18:00"
            }, {
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": ["Saturday"],
                "opens": "08:00",
                "closes": "12:00"
            }],
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "#{ address.street }",
                "addressLocality": "#{ address.city }",
                "addressRegion": "#{ address.state }",
                "postalCode": "#{ address.cep }",
                "addressCountry": "#{ address.country }"
            },
            "geo": {
                "@type": "GeoCoordinates",
                "latitude": "-19.926238",
                "longitude": "-43.94081"
            },
            "sameAs" : [
                "#{ social.instagram }"
            ],
            "image": [
                "#{ url }assets/cover.jpg"
            ]
        }

    link(rel='stylesheet' type='text/css' media='screen' href='master.css')

    title #{ title }

    link(rel='apple-touch-icon' sizes='180x180' href='assets/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='assets/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='assets/favicon-16x16.png')
    link(rel='manifest' href='assets/site.webmanifest')

  body
    #section-header
      #header
        .logo
          a(href='/')
            picture
              source(type='image/webp' srcset=(`assets/img/logo.webp`))
              source(type='image/png' srcset=(`assets/img/logo.png`))
              img(src=(`assets/img/logo.png`) alt='#{ title }')
        .menu
          ul
            li
              a(data-fancybox href='#section-faq' data-src='#section-faq' data-width=700 data-height=500) FAQ
            each menu, key in { 'services': 'Serviços', 'contact': 'Contato' }
              li
                a(href='#section-' + key) #{ menu }
    #section-banner
      #banner
        dl
          dt
            h1 Limpeza de estofados em Belo Horizonte e região
          dd
            h2
              | #{ description } #[br]
            a(href='#section-contact') Solicite um orçamento
    #section-social
      #social
        dl
          dt
            h2 WhatsApp e Instagram
          dd
            | #{ support }
        a.instagram(href='#{ social.instagram }' target='_blank') Instagram
        a.whatsapp(href='https://web.whatsapp.com/send?phone=#{ contact.phone }' target='_blank') Whatsapp
    #section-portifolio
      #portifolio
        dl
          dt
            h2 Trabalhos realizados...
          dd Confira nossos últimos trabalhos!
      #portifolio-gallery
        div.collection
          for picture, i in public.pictures._data
            div.photo
              a(href=(`${picture.href}`) target='_blank')
                picture
                  source(type='image/webp' srcset=(`pictures/${picture.src}.webp`))
                  source(type='image/jpeg' srcset=(`pictures/${picture.src}.jpg`))
                  img(src=(`pictures/${picture.src}.jpg`) alt=(`${picture.img}`) loading='lazy')
    #section-services
      #services
        h2(aria-hidden='true') Serviços
        for post, id in public.services._data
          dl(data-fancybox data-src=`#${id}` data-width=700 data-height=500)
            dt !{ post.title }
            dd(id=id)
              for paragraph in post.description
                p #{ paragraph }
    #section-faq(aria-hidden='true')
      ul(itemscope='' itemtype='https://schema.org/FAQPage')
        for faq, i in public.faq._data
          li
            dl(itemscope='' itemprop='mainEntity' itemtype='https://schema.org/Question')
              dt(itemprop='name') #{ faq.question }
              dd(itemscope='' itemprop='acceptedAnswer' itemtype='https://schema.org/Answer')
                p(itemprop='text') #{ faq.answer }
    #section-contact
      #contact
        dl.form
          dt
            h2 Contato por email
          dd
            form(action='https://formspree.io/f/#{ keys.formspree }' method='POST')
              fieldset
                each label, key in { 'name': 'Nome', 'phone': 'Telefone', 'mail': 'Email', 'message': 'Mensagem' }
                  dl
                    dt(aria-hidden='true')
                      label(for=key) #{ label }
                    dd
                      - if (key == 'message') {
                      textarea(name=key placeholder=label)
                      - } else {
                      input(type='text' name=key placeholder=label)
                      - }
        dl.head
          dt
            h2 Entre em contato
          dd
            | #{ support }
        dl.info
          dt Informações de contato
          dd
            each value, label in contact
              dl(class=label)
                - label = label.charAt(0).toUpperCase() + label.slice(1);
                dt #{ label }
                dd #{ value }
        dl.address
          dt
            h2 Endereço
          dd
            address #{ address.street } #{ address.city } #{ address.state }
    #section-map
      iframe(title='Google Maps' src='https://maps.google.com/maps?q=#{ address.street } #{ address.city } #{ address.state }&output=embed&key=#{ keys.google_maps }' scrolling='no' marginheight='0' marginwidth='0' frameborder='0')
    #section-footer
      #footer
        .copyright
          - year = new Date().getFullYear()
          p © #{ year } Luxorclean, todos os direitos reservados.
        .social-networks
          ul
            each link, name in social
              li
                a(class=name href=link) #{ name }

    link(rel='stylesheet' type='text/css' media='screen' href='https://fonts.googleapis.com/css?family=Rubik&display=swap')

    link(rel='stylesheet' type='text/css' media='screen' href='#{ cdn }/fancybox/3.5.7/jquery.fancybox.min.css')
    link(rel='stylesheet' type='text/css' media='screen' href='#{ cdn }/slick-carousel/1.8.1/slick.min.css')
    link(rel='stylesheet' type='text/css' media='screen' href='#{ cdn }/slick-carousel/1.8.1/slick-theme.min.css')

    script(type='text/javascript' src='#{ cdn }/jquery/3.6.0/jquery.min.js')
    script(type='text/javascript' src='#{ cdn }/fancybox/3.5.7/jquery.fancybox.min.js')
    script(type='text/javascript' src='#{ cdn }/slick-carousel/1.8.1/slick.min.js')

    script(type='text/javascript' src='gallery.js')
    script(type='text/javascript' src='https://www.googletagmanager.com/gtag/js?id=#{ keys.google_analytics }' async='')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '#{ keys.google_analytics }');
    script.
        !function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '#{ keys.meta_pixel }');
        fbq('track', 'PageView');
    noscript
        img(height='1' width='1' src='https://www.facebook.com/tr?id=#{ keys.meta_pixel }&ev=PageView&noscript=1')
